<ion-toolbar class="navbar">
  <ion-buttons slot="start" class="ion-display-lg-none">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>

  <ion-title slot="start" class="brand-title">
    <b>SPITFIRE</b>
  </ion-title>

  <ion-buttons slot="end" class="ion-display-none ion-display-lg-block btn-wrapper">
    <ion-button routerLink="/home">Home</ion-button>
    <ion-button routerLink="/lists">Playlists</ion-button>
    <ion-button routerLink="/discover">Discover</ion-button>
  </ion-buttons>

  <div slot="end" class="search-container ion-display-none ion-display-sm-block">
    <ion-searchbar
      class="navbar-searchbar"
      placeholder="Search">
    </ion-searchbar>
  </div>

  <ion-buttons slot="end" class="ion-display-sm-none">
    <ion-button shape="round">
      <ion-icon name="search" class="search-icon"></ion-icon>
    </ion-button>
  </ion-buttons>

  <ion-buttons slot="end">
    <ion-button class="sign-in-btn" routerLink="/login">
      Sign In
    </ion-button>
  </ion-buttons>
</ion-toolbar>